{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}

<h4 align='center'> Welcome <span style='color:red;'>{{ user }}</span></h4>

<br><br>
<div style="display:none;">
<table class='.table table-bordered' width="100%">
	<thead>
			<th></th>
			<th></th>
			<th></th>
	</thead>
	<tbody>
		<tr align='center'>
			<td width="10%">1. </td>
			<td width="60%"><b> Total Complaints <b></td>
			<td width="30%"> {{ total_complaints_count }}</td>
		</tr>
		<tr align='center'>
			<td width="10%">2. </td>
			<td width="60%"> <b>Pending Complaints<b></td>
			<td width="30%"> {{ pending_complaints_count }}</td>
		</tr>
		<tr align='center'>
			<td width="10%">3. </td>
			<td width="60%"> <b>Complaints Progress<b></td>
			<td width="30%"> {{ complaints_progress }}%</td>
		</tr>	
	</tbody>
</table>
</div>
 <div style="width:auto;height:auto;">
        <!canvas id="line" style = "margin-bottom : 50px;background: #ffe6e6;"><!/canvas>
	 <canvas id="product" style = "margin-top : 50px;"></canvas>
    </div>
    <br>
    <br>

{% endblock %}

{% block bodyend %}
  <script>


var config = {
        type: 'pie',
        data: {
            datasets: [
            {
                data: [
                    {% for transaction in transactions %}
                    {{ transaction.retail_price }}, 
                    {% endfor %}
                ],
                backgroundColor: [
                    "#F7464A",
                    "#46BFBD",
                    "#FDB45C",
                    "#949FB1",
                    "#4D5360",
                ],
            }],
            labels: [
                {% for transaction in transactions %}
                    "{{ transaction.product.name }}", 
                    {% endfor %}
            ]
        },
        options: {
            responsive: true
        }
    };

window.onload = function() {
    var ctx = document.getElementById('product').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };
    </script>
{% endblock %}
